/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 48px;
  width: 100%;
  background-color: #FCFAF6;

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px;
    margin: 110px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;  /* Додаємо можливість для елементів обертатися на мобільних пристроях */

    h1 {
      width: 400px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 41px;
      line-height: 46.2px;
      letter-spacing: 1.25px;
      text-align: center;
      color: #35312E;
      pointer-events: none;
      margin-right: 135px;
    }

    p {
      width: 650px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.92px;
      letter-spacing: 0;
      color: #4F463F;
      pointer-events: none;
    }
  }

  /* Адаптивні стилі для екранів до 768px */
  @media (max-width: 1300px) {
    padding: 0 20px; /* Зменшуємо відступи для середніх екранів */

    &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1440px;
    }
    h1 {
      width: 40vw;
      margin-right: 40px;
    }

    p {
      width: 40vw;
    }
  }

  /* Адаптивні стилі для екранів до 768px */
  @media (max-width: 780px) {
    padding: 0 20px; /* Зменшуємо відступи для середніх екранів */

    &__container {
      margin: 60px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;  /* Окремі блоки по вертикалі */
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;  /* Вирівнюємо елементи по центру */
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    h1 {
      width: 100%;  /* Забираємо фіксовану ширину, щоб заголовок адаптувався */
      font-size: 30px;
      line-height: 40px;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;  /* Вирівнюємо текст по центру */
    }

    p {
      width: 100%;  /* Забираємо фіксовану ширину для абзацу */
      font-size: 14px;
      line-height: 22px;
      text-align: center;  /* Вирівнюємо текст по центру */
      margin-bottom: 20px;
    }
  }

  /* Адаптивні стилі для екранів до 480px */
  @media (max-width: 480px) {
    padding: 0 10px;  /* Зменшуємо відступи на маленьких екранах */

    &__container {
      margin: 40px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    h1 {
      font-size: 24px;
      line-height: 32px;
      width: 100%;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      text-align: center;
    }
  }
}