/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

// Reset
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
  }
  
  // Lists
  ul[role='list'],
  ol[role='list'],
  ul,
  ol {
    list-style: none;
  }
  
  // Links
  a {
    text-decoration: none;
    color: inherit;
  }
  
  // Media elements
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  // Form elements
  input,
  button,
  textarea,
  select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
  }
  
  // Headings
  h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  // Utility
  .hide {
    display: none;
  }
  
  // Animation keyframes
  @keyframes shake {
    0%   { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
    50%  { -webkit-transform: scale(0.92); -ms-transform: scale(0.92); transform: scale(0.92); }
    100% { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
  }
  
  // Accessibility
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *, *::before, *::after {
      -webkit-animation-duration: 0.01ms !important;
              animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
              animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0.01ms !important;
           -o-transition-duration: 0.01ms !important;
              transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }