.footer {
  background-color: #807C62;
  display: flex;
  justify-content: center;
  padding: 0 48px;
  width: 100%;
  color: #FCFAF680;

  &__container {
    display: flex;
    max-width: 1440px;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    @media (max-width: 480px) {
      margin: 10px 0;
      gap: 8px;
    }
  }

  &__title {
    a {
      cursor: pointer;
      color: #F5F1E9;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    @media (max-width: 480px) {
      gap: 8px;
    }
  }

  &__links {
    display: flex;
    gap: 20px; // уменьшено с 30px
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;

    li {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        color: #F5F1E9;
      }
    }

    @media (max-width: 480px) {
      gap: 10px;
    }
  }

  &__btn {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    background-color: #FCFAF6;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      scale: 1.05;
    }

    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 10px;
    }

  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 18px;

    @media (max-width: 480px) {
      align-items: center;
      text-align: center;
    }
  }
}
