/* ------------HERO---------------------- */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  background-image: url(../assest/images/Rectangle.png);
  background-position: center;
  background-size: cover;
  height: 605px;

  .hero__container {
    position: absolute;
    top: 20vh;
    left: 30vw;
    display: flex;
    flex-direction: column;

    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0%;
      text-transform: uppercase;
    }

    h2 {
      color: #35312E;
      font-family: Roboto;
      font-weight: 400;
      font-size: 50px;
      line-height: 72px;
      letter-spacing: 1px;
      pointer-events: none;
    }

    h3 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 50px;
      line-height: 72px;
      letter-spacing: 1px;
      text-decoration: underline solid 2px currentColor;
      margin-top: -25px;
      color: #35312E;
      pointer-events: none;
    }

    .typing {
  font-family: Roboto;
  font-weight: 400;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 1px;
  text-decoration: underline solid 2px currentColor;
  margin-top: -25px;
  color: #35312E;
  pointer-events: none;

  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #35312E;
  width: 0;
  animation: typing 4s steps(7, end) 2s infinite alternate,
             blink 0.5s step-end infinite;
}

/* Печатание и стирание */
@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 7ch; /* "skillet" = 7 букв */
  }
  100% {
    width: 0ch;
  }
}

/* Мигание курсора */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}


    button {
      width: 248px;
      height: 60px;
      border-radius: 2px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 12px;
      line-height: 20.4px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 57px;
      background-color: #D37657;
      color: #FFFFFF;
      border: 2px solid transparent;
      transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;

      &:hover {
        color: #D37657;
        background-color: #fff;
        border-color: #D37657;
      }

      &:active {
        color: #fff;
        background-color: #a9523a;
        border-color: transparent;
      }
    }
  }

  /* Адаптивні стилі */
  @media (max-width: 720px) {
    .hero__container {
      top: 15vh;
      left: 15vw;

      h2 {
        font-size: 40px;
        line-height: 55px;
      }

      h3 {
        font-size: 40px;
        line-height: 55px;
      }

      p {
        font-size: 14px;
      }

      button {
        width: 220px;
        height: 55px;
        font-size: 11px;
        margin-top: 45px;
      }
    }
  }

  @media (max-width: 480px) {
    .hero__container {
      top: 20vh;
      left: 10vw;

      p {
        font-size: 14px;
        width: 60%;
      }

      h2 {
        font-size: 35px;
        line-height: 50px;
      }

      h3 {
        font-size: 35px;
        line-height: 50px;
      }

      button {
        width: 174px;  /* 30% менше */
        height: 42px;
        font-size: 10px;
        margin-top: 40px;
      }
    }
  }

  @media (max-width: 320px) {
    .hero__container {
      top: 15vh;
      left: 5vw;

      p {
        font-size: 5vw;
        width: 100%;
        line-height: 40px;
      }

      h2 {
        font-size: 10vw;
        line-height: 40px;
      }

      h3 {
        font-size: 10vw;
        line-height: 40px;
        margin-top: 5px;
      }

      button {
        width: 169px;
        height: 42px;
        font-size: 10px;
        margin-top: 60px;
      }
    }
  }
}
